<%- include("partials/header") %>

<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="container">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" name="blogTitle" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" style="margin-top: 12px;">Post</label>
            <textarea class="form-control" name="blogPost" rows="5"></textarea>
          </div>

          <button type="submit" class="btn btn-primary" style="
          margin-top: 27px;">Submit</button>
    </div>
</form>
<%- include("partials/footer") %>